.Container{
  height: 450px;
}

.Right{
  height: 261px;
}


@media (max-width:990px){
  .Container{
    width:720px;
    height:500px;
  }

  .Right{
    width:445px;
    height:311px;
  }
}

@media (max-width:750px){
  .Container{
    width:640px;
    height:500px;
  }

  .Right{
    width:365px;
    height:311px;
  }
}

@media (max-width: 675px){
  .Container{
    width: 320px;
    height: 700px;
  }

  .Banner{
    padding-left: 50%;
  }

  .navi a{
    margin:5px 5px;
  }

  .Right{
    width: 270px;
    height: 375px;
  }
}
